body {
    background-color: #3D405B;
}
table, th, td {
    text-align: center;
    width: 50%;
    margin: auto;
    table-layout: fixed;
    transition:200ms;
    border-spacing: 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#3D405B;
}
td {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E07A5F;
}
td:hover {
    background-color: #F2CC8F;
    color:#E07A5F;
}
#app {
    text-align:center;
}
#eqn_box {
    height: 100px;
}

input {
    font-size: 2rem;
    border:0px;
    color:inherit;
    background-color:inherit;
    text-align: center;
}
input:focus {
    outline:none;
}
button {
    font-size: 2rem;
    border: 0px;
    border-radius: 5px;
    padding: 10px 0px;
    width:48.75%;
    color:#3D405B;
    background-color: #E07A5F;
    transition: 200ms;
}
button:hover {
    background-color: #F2CC8F;
    color:#E07A5F;
}
